body{
    box-sizing:border-box ;
    padding: 0;
    margin: 0;
    /* width: 1920px; */
    background-color: black;
}

.bg-img{
    width: 100%;
    height: 700px;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;

}
.bg-black{
    width: 100%;
    height: 700px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}


.main-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.button-color{
    background-color: rgb(207, 0, 0);
}
.button-color:hover{
    background-color: rgb(173, 0, 0);
}

.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
}

.flex1{
    display: flex;
    align-items: center;
}

.flex2{
}

.netflix-logo{
    width: 150px;
}

.bg-font{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bg-font-size-h{
    font-size: 200%;
}

.Emailbtn{
    display: flex;
    justify-content: center;
}

.font{
    color: white;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

.font-size-h{
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

.Tv{
    z-index: -1;
    overflow: hidden;
    width: 73%;
    height: 40%;
    position: absolute;
    top: 620px;
    left: 13%;
}

.book{
    z-index: -1;
    overflow: hidden;
    width: 60%;
    height: 30%;
    position: absolute;
    top: 39%;
    left: 19%;
}

.gimohan{
    z-index: 1;
    overflow: hidden;
    width: 31%;
    height: 3%;
    max-width: 31%;
    max-height: 3%;
    position: absolute;
    top: 97%;
    left: 34%;
}

.louding{
    z-index: 1;
    overflow: hidden;
    width: 4%;
    height: 2%;
    position: absolute;
    top: 97.5%;
    left: 59%;
}







